{%extends 'Header_footer.html' %} {% load static %}

<head>
  {%block tittle%} Servcios {%endblock%}
</head>
<body>
  {%block content%}
  <div class="flex flex-col items-center justify-center place-content-center">
    <!-- tarjetas -->
    {%for i in servicio%}

    <div
      class="flex flex-col justify-center items-center content-center w-3/4 h-96 space-y-2 shadow-lg my-4 mx-4 pb-2 duration-200 hover:scale-105 rounded"
    >
      <h2 class="flex w-full justify-center pt-3 text-2xl pb-1">
        {{i.nombre}}
      </h2>

      <p>{{i.descripccion}}</p>

      <div class=" ">
        <img
          src="{{i.img_prev.url}}"
          alt=""
          class="flex justify-center bg-[#4baa38] rounded-md w-64 h-52 py-1.5 px-1.5 mt-4"
        />
      </div>
      <div class="">
        <a
          href="{%url 'compS' i.id%}"
          class="flex justify-center text-xl pb-1 duration-300 hover:bg-lime-900 hover:scale-110 rounded-md w-80 items-center"
          >Solicitar</a
        >
      </div>
    </div>

    {%endfor%}
  </div>
  {%endblock%}
</body>
